#controlMenu{
    background-color: rgb(95, 105, 105);
    height: 50px;
    width: 200px;
    display: block;
}

#progressWrap{
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 100px;
    cursor: pointer;
}
#playProgress{
    background-color: rgb(51, 255, 0);
    width: 0px;
    height: 5px;
}